.contactsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

.contactsList > li {
    list-style: none;
}

.button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.element {
    display: flex;
    justify-content: space-between;
}